@page
@model IndexModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout";
}

<main class="min-vh-100 p-4 d-flex align-items-center justify-content-center">
    <form class="w-100 d-flex border p-4 rounded flex-column gap-3" style="max-width: 576px;" method="post">
        <h3>Shop Panel Admin | Log in</h3>

        <div class="form-group">
            <label asp-for="LoginUser.Email" class="control-label"></label>
            <input asp-for="LoginUser.Email" class="form-control" />
            <span asp-validation-for="LoginUser.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LoginUser.Password" class="control-label"></label>
            <input asp-for="LoginUser.Password" class="form-control" />
            <span asp-validation-for="LoginUser.Password" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button class="btn w-100 btn-primary">Submit</button>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
